body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background: #eee;
    max-width: 840px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.col-half {
    float: left;
    width: 50%;
}

br {
    clear: both;
}

.text-center {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h2 {
    color: #666;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #999;
}

h3 {
    color: #01A0B0;
}

h4 {
    color: #666;
    font-weight: normal;
}

a {
    text-decoration: none;
}