body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    background: #eee;
    max-width: 840px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h2, h3 {
    color: #666;
}

h2 {
    font-weight: normal;
}

li {
    font-size: 1.5em;
    line-height: 1.5em;
}

h2.italic {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-style: italic;
    text-align: center;
    font-size: 3em;
    color: #01A0B0;
}

.barchart {
    margin-top: 20px;
    margin-bottom: 20px;
}

.barchart div {
    height: 30px;
    background: #01A0B0;
    margin-bottom: 5px;
    color: white;
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    width: 0;
    overflow: hidden;
    font-size: 0.75em;
}

#map1 {
    float: left;
}

#map2 {
    float: right;
}

#map1 h4, #map2 h4 {
    text-align: center;
}

small {
    color: #666;
    font-style: italic;
    font-size: 0.5em;
}

button {
    font-size: 1.5em;
    padding: 10px;
}